.row {
  padding-top: 60px;
}

.alert h4 {
  text-align: center;
  padding: 20px;
  text-decoration: underline;
}

.btn {
  display: block;
  margin: auto;
}

.jumbotron {
  background: linear-gradient(90deg, rgba(140,219,2,1) 0%, rgba(9,121,117,1) 35%, rgba(0,196,255,1) 100%);
}

.home-heading {
  text-align: center;
}

#skills{
  height: 100px;
}

#description{
    height: 100px;
}

#posting-btn, #apply {
  padding: 15px;
  font-size: 22px;
}
.labels{
  font-size: 20px;
  font-family:Wild West typeface;
  font-weight: bold;
}
.con-props{
  padding:30px;
}



.post-display{
  border: 
}
