.row {
  padding-top: 60px;
}

.alert h4 {
  text-align: center;
  padding: 20px;
  text-decoration: underline;
}

.btn {
  display: block;
  margin: auto;
}

#home-heading {
  text-align: center;
}


#skills{
  height: 100px;
}

#description{
    height: 100px;
}
